<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_dong_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,36}</string>
                <key>spriteSourceSize</key>
                <string>{121,36}</string>
                <key>textureRect</key>
                <string>{{284,2},{121,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dong_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,36}</string>
                <key>spriteSourceSize</key>
                <string>{121,36}</string>
                <key>textureRect</key>
                <string>{{407,2},{121,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{39,2},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{699,454}</string>
                <key>spriteSourceSize</key>
                <string>{699,454}</string>
                <key>textureRect</key>
                <string>{{2,77},{699,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,68}</string>
                <key>spriteSourceSize</key>
                <string>{99,68}</string>
                <key>textureRect</key>
                <string>{{76,2},{99,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,73}</string>
                <key>spriteSourceSize</key>
                <string>{105,73}</string>
                <key>textureRect</key>
                <string>{{177,2},{105,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hot_news.png</string>
            <key>size</key>
            <string>{703,533}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca00446d32445290d3589eb61ef27f3:22706d0ffa8a8e1352d7699b32784225:76e3213f6e4749692417cc120bfbf127$</string>
            <key>textureFileName</key>
            <string>hot_news.png</string>
        </dict>
    </dict>
</plist>
