<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{59,2},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dk_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{251,2},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{347,2},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dn_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{155,2},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainscreen_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,625}</string>
                <key>spriteSourceSize</key>
                <string>{960,625}</string>
                <key>textureRect</key>
                <string>{{2,56},{960,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texbox_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginScene.png</string>
            <key>size</key>
            <string>{964,683}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49ee00ad8dd8dfbcd4ce72e1c9c7f1ba:311d7cdd6f17da8eba9609fffaaf7a9d:eb7bab2a2f85a8d0ab26696f26808e71$</string>
            <key>textureFileName</key>
            <string>loginScene.png</string>
        </dict>
    </dict>
</plist>
