<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_pos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{14,2},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_sent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{112,2},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,45}</string>
                <key>spriteSourceSize</key>
                <string>{357,45}</string>
                <key>textureRect</key>
                <string>{{418,2},{357,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_2columns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,215}</string>
                <key>spriteSourceSize</key>
                <string>{331,215}</string>
                <key>textureRect</key>
                <string>{{2,483},{331,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_3columns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,215}</string>
                <key>spriteSourceSize</key>
                <string>{331,215}</string>
                <key>textureRect</key>
                <string>{{335,483},{331,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbletalk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,34}</string>
                <key>spriteSourceSize</key>
                <string>{53,34}</string>
                <key>textureRect</key>
                <string>{{299,2},{53,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,187}</string>
                <key>spriteSourceSize</key>
                <string>{578,187}</string>
                <key>textureRect</key>
                <string>{{2,287},{578,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,15}</string>
                <key>spriteSourceSize</key>
                <string>{70,15}</string>
                <key>textureRect</key>
                <string>{{40,2},{70,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{2,2},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_treasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,194}</string>
                <key>spriteSourceSize</key>
                <string>{223,194}</string>
                <key>textureRect</key>
                <string>{{582,287},{223,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{350,49},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{466,49},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>napxu_edit_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,28}</string>
                <key>spriteSourceSize</key>
                <string>{159,28}</string>
                <key>textureRect</key>
                <string>{{138,2},{159,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>note_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,102}</string>
                <key>spriteSourceSize</key>
                <string>{676,102}</string>
                <key>textureRect</key>
                <string>{{2,183},{676,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sms_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,66}</string>
                <key>spriteSourceSize</key>
                <string>{642,66}</string>
                <key>textureRect</key>
                <string>{{2,115},{642,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sticker_khuyenmai_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{354,2},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{118,49},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{2,49},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vina_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{234,49},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vina_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{582,49},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nap_tien.png</string>
            <key>size</key>
            <string>{807,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6159783ffb9c608f19acda12ef9a1712:3d55137aec1668deb9ec555f52d31eb4:192e2558630e50d8fc0fe5bc9145778d$</string>
            <key>textureFileName</key>
            <string>nap_tien.png</string>
        </dict>
    </dict>
</plist>
