<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_event_mess.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{896,28},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close_event_mess_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{856,28},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xemchitiet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{168,2},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xemchitiet_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{147,2},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xemchitiet_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{126,2},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dautaydoi_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,214}</string>
                <key>spriteSourceSize</key>
                <string>{271,214}</string>
                <key>textureRect</key>
                <string>{{275,415},{271,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dautaydoi_bg_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,214}</string>
                <key>spriteSourceSize</key>
                <string>{271,214}</string>
                <key>textureRect</key>
                <string>{{2,415},{271,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinhthuquan_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,256}</string>
                <key>spriteSourceSize</key>
                <string>{333,256}</string>
                <key>textureRect</key>
                <string>{{319,661},{333,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinhthuquan_bg_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,256}</string>
                <key>spriteSourceSize</key>
                <string>{333,256}</string>
                <key>textureRect</key>
                <string>{{654,661},{333,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roichu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,145}</string>
                <key>spriteSourceSize</key>
                <string>{261,145}</string>
                <key>textureRect</key>
                <string>{{734,268},{261,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,71}</string>
                <key>spriteSourceSize</key>
                <string>{408,71}</string>
                <key>textureRect</key>
                <string>{{443,192},{408,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_bg_5_icons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,59}</string>
                <key>spriteSourceSize</key>
                <string>{439,59}</string>
                <key>textureRect</key>
                <string>{{2,192},{439,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_bg_6_icons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,59}</string>
                <key>spriteSourceSize</key>
                <string>{522,59}</string>
                <key>textureRect</key>
                <string>{{414,131},{522,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoanhphi_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,53}</string>
                <key>spriteSourceSize</key>
                <string>{279,53}</string>
                <key>textureRect</key>
                <string>{{348,75},{279,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_banbe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{76,268},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_banbe_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{853,192},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{2,268},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cho_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{372,268},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_desktop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{518,268},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_desktop_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{590,268},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{941,28},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hopthu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{298,268},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hopthu_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{224,268},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_notification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{662,268},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_notification_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{446,268},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_num_Unread_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{189,2},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tienthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{150,268},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tienthuong_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{927,192},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{490,28},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{701,2},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{2,28},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{246,28},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{124,28},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{579,2},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{457,2},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{213,2},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{335,2},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{823,2},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{734,28},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{368,28},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{612,28},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{2,2},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_star_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,8}</string>
                <key>spriteSourceSize</key>
                <string>{104,8}</string>
                <key>textureRect</key>
                <string>{{20,2},{104,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_star_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{11,2},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_avatar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,51}</string>
                <key>spriteSourceSize</key>
                <string>{292,51}</string>
                <key>textureRect</key>
                <string>{{2,75},{292,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_avatar_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{296,75},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_avatar_vachchia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,42}</string>
                <key>spriteSourceSize</key>
                <string>{3,42}</string>
                <key>textureRect</key>
                <string>{{936,28},{3,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muiten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,58}</string>
                <key>spriteSourceSize</key>
                <string>{55,58}</string>
                <key>textureRect</key>
                <string>{{357,131},{55,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhatranh_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,244}</string>
                <key>spriteSourceSize</key>
                <string>{315,244}</string>
                <key>textureRect</key>
                <string>{{2,661},{315,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhatranh_bg_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,244}</string>
                <key>spriteSourceSize</key>
                <string>{315,244}</string>
                <key>textureRect</key>
                <string>{{548,415},{315,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thoai_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,54}</string>
                <key>spriteSourceSize</key>
                <string>{178,54}</string>
                <key>textureRect</key>
                <string>{{629,75},{178,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongsochu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,57}</string>
                <key>spriteSourceSize</key>
                <string>{353,57}</string>
                <key>textureRect</key>
                <string>{{2,131},{353,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vv_after_login.png</string>
            <key>size</key>
            <string>{1001,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3dfdbd0556a71f5bdad48d8cd9c3769:1c86de10e8c92172a5bab98baf65f615:d26f118515372a46ae24bbdfbe50404c$</string>
            <key>textureFileName</key>
            <string>vv_after_login.png</string>
        </dict>
    </dict>
</plist>
