<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,46}</string>
                <key>spriteSourceSize</key>
                <string>{294,46}</string>
                <key>textureRect</key>
                <string>{{194,0},{294,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,46}</string>
                <key>spriteSourceSize</key>
                <string>{294,46}</string>
                <key>textureRect</key>
                <string>{{0,46},{294,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{0,228},{103,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InstallDesktop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{560,46},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckyBoxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,350}</string>
                <key>spriteSourceSize</key>
                <string>{648,350}</string>
                <key>textureRect</key>
                <string>{{103,228},{648,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OpenBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{625,128},{103,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{97,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fb_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{97,29}</string>
                <key>textureRect</key>
                <string>{{97,0},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moiban_facebook_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,75}</string>
                <key>spriteSourceSize</key>
                <string>{133,75}</string>
                <key>textureRect</key>
                <string>{{427,46},{133,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moiban_nguoigioithieunhanthuong_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,75}</string>
                <key>spriteSourceSize</key>
                <string>{133,75}</string>
                <key>textureRect</key>
                <string>{{294,46},{133,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textInstruction_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,94}</string>
                <key>spriteSourceSize</key>
                <string>{625,94}</string>
                <key>textureRect</key>
                <string>{{0,128},{625,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vv_bonus_window.png</string>
            <key>size</key>
            <string>{751,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b81228dd35e3c289eab951225fe9293:5ac2a937a4c9c249df19f30dd4c12b9a:029a8134acf3287ba6d7a7f9aa695aae$</string>
            <key>textureFileName</key>
            <string>vv_bonus_window.png</string>
        </dict>
    </dict>
</plist>
