<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_nhan_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,23}</string>
                <key>spriteSourceSize</key>
                <string>{75,23}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nhan_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,23}</string>
                <key>spriteSourceSize</key>
                <string>{75,23}</string>
                <key>textureRect</key>
                <string>{{79,2},{75,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nhan_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,23}</string>
                <key>spriteSourceSize</key>
                <string>{75,23}</string>
                <key>textureRect</key>
                <string>{{156,2},{75,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nhan_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,23}</string>
                <key>spriteSourceSize</key>
                <string>{75,23}</string>
                <key>textureRect</key>
                <string>{{233,2},{75,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{310,2},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_disable_km.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,158}</string>
                <key>spriteSourceSize</key>
                <string>{98,158}</string>
                <key>textureRect</key>
                <string>{{409,2},{98,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_future.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,165}</string>
                <key>spriteSourceSize</key>
                <string>{104,165}</string>
                <key>textureRect</key>
                <string>{{509,2},{104,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,165}</string>
                <key>spriteSourceSize</key>
                <string>{104,165}</string>
                <key>textureRect</key>
                <string>{{615,2},{104,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{87,91}</string>
                <key>textureRect</key>
                <string>{{721,2},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,78}</string>
                <key>textureRect</key>
                <string>{{810,2},{89,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,91}</string>
                <key>spriteSourceSize</key>
                <string>{86,91}</string>
                <key>textureRect</key>
                <string>{{901,2},{86,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{2,169},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{96,169},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{186,169},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seven_day_bonus_window_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,405}</string>
                <key>spriteSourceSize</key>
                <string>{719,405}</string>
                <key>textureRect</key>
                <string>{{269,169},{719,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sticker_km.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,33}</string>
                <key>spriteSourceSize</key>
                <string>{83,33}</string>
                <key>textureRect</key>
                <string>{{2,576},{83,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vv_seven_day_bonus.png</string>
            <key>size</key>
            <string>{990,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd25b5729ad141147ca00a356941b33b:a1a9264bfd74a112ec599fb93d8482e3:f6c746efd0bffb3832c33606674931dd$</string>
            <key>textureFileName</key>
            <string>vv_seven_day_bonus.png</string>
        </dict>
    </dict>
</plist>
