<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TopAddedMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,1426},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopWinningMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,1310},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allowkick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,1194},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bahuyen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,1310},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banghi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,1194},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,1078},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,962},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,1426},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,1542},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipheo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,1774},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cotuyet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,1658},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dendau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{150,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>depgo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieubat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{75,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp_x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,1774},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,1658},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp_x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,1542},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>holo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{0,150},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huyenhinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,962},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_plus10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,1078},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_plus2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,382},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_plus5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{75,150},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linhtrang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,266},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longchim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{0,75},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhanho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,266},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ongbut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,382},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quanhuyen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,730},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tadien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,846},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thieugia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,846},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thieunuquanho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,730},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,614},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thonnu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,498},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkickable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{0,614},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{108,498},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xedap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{150,75},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xehoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{75,75},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vv_shopping_items.png</string>
            <key>size</key>
            <string>{225,1890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:054614e06aa374a245d097865b8fe5f0:6a7663ed2b8c31cd1c037421007290a7:da84ca44cbde3715c9e7eac1bedeff9e$</string>
            <key>textureFileName</key>
            <string>vv_shopping_items.png</string>
        </dict>
    </dict>
</plist>
