<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_users_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{700,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{622,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{661,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{466,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_dtd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{388,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_dtd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{427,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_nt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{505,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_nt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{583,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_nt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{739,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_users_nt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{544,152},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopAddedMoney_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{4,400},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopWinningMoney_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{610,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,104}</string>
                <key>spriteSourceSize</key>
                <string>{318,104}</string>
                <key>textureRect</key>
                <string>{{610,400},{318,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bahuyen_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{105,400},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banghi_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{711,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_edit_box_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,111}</string>
                <key>spriteSourceSize</key>
                <string>{382,111}</string>
                <key>textureRect</key>
                <string>{{4,508},{382,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonhi_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{408,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choinhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,37}</string>
                <key>spriteSourceSize</key>
                <string>{92,37}</string>
                <key>textureRect</key>
                <string>{{292,152},{92,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choinhanh_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,37}</string>
                <key>spriteSourceSize</key>
                <string>{92,37}</string>
                <key>textureRect</key>
                <string>{{4,152},{92,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choinhanh_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,37}</string>
                <key>spriteSourceSize</key>
                <string>{92,37}</string>
                <key>textureRect</key>
                <string>{{100,152},{92,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_deselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,35}</string>
                <key>spriteSourceSize</key>
                <string>{139,35}</string>
                <key>textureRect</key>
                <string>{{435,70},{139,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_deselected_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,35}</string>
                <key>spriteSourceSize</key>
                <string>{139,35}</string>
                <key>textureRect</key>
                <string>{{149,70},{139,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,30}</string>
                <key>spriteSourceSize</key>
                <string>{97,30}</string>
                <key>textureRect</key>
                <string>{{803,36},{97,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dongy_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,30}</string>
                <key>spriteSourceSize</key>
                <string>{97,30}</string>
                <key>textureRect</key>
                <string>{{591,36},{97,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,30}</string>
                <key>spriteSourceSize</key>
                <string>{97,30}</string>
                <key>textureRect</key>
                <string>{{379,36},{97,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huy_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,30}</string>
                <key>spriteSourceSize</key>
                <string>{97,30}</string>
                <key>textureRect</key>
                <string>{{204,36},{97,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_napquan_km.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,28}</string>
                <key>spriteSourceSize</key>
                <string>{65,28}</string>
                <key>textureRect</key>
                <string>{{654,4},{65,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_napxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,37}</string>
                <key>spriteSourceSize</key>
                <string>{92,37}</string>
                <key>textureRect</key>
                <string>{{841,111},{92,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_napxu_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,37}</string>
                <key>spriteSourceSize</key>
                <string>{92,37}</string>
                <key>textureRect</key>
                <string>{{196,152},{92,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_napxu_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,37}</string>
                <key>spriteSourceSize</key>
                <string>{92,37}</string>
                <key>textureRect</key>
                <string>{{745,111},{92,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,35}</string>
                <key>spriteSourceSize</key>
                <string>{139,35}</string>
                <key>textureRect</key>
                <string>{{578,70},{139,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_selected_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,35}</string>
                <key>spriteSourceSize</key>
                <string>{139,35}</string>
                <key>textureRect</key>
                <string>{{292,70},{139,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipheo_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{812,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{43,4},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cotuyet_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{307,400},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_password.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,24}</string>
                <key>spriteSourceSize</key>
                <string>{194,24}</string>
                <key>textureRect</key>
                <string>{{428,4},{194,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,28}</string>
                <key>spriteSourceSize</key>
                <string>{159,28}</string>
                <key>textureRect</key>
                <string>{{4,36},{159,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_vatpham_baoboi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{769,508},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gagop_roomlist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{751,4},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gagop_roomlist_nhatranh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{723,4},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghe_cho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,10}</string>
                <key>spriteSourceSize</key>
                <string>{17,10}</string>
                <key>textureRect</key>
                <string>{{4,4},{17,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huyenhinh_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{307,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bxh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{305,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bxh_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{517,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{554,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_caidat_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{480,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_capture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{342,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_capture_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{167,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fullscreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{4,70},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fullscreen_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{729,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fullscreen_close_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{692,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fullscreen_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{766,36},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hover_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,23}</string>
                <key>spriteSourceSize</key>
                <string>{53,23}</string>
                <key>textureRect</key>
                <string>{{344,4},{53,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{626,4},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{401,4},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_read_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{41,70},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sent_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{113,70},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{104,4},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{132,4},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_unread_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{77,70},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linhtrang_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{509,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhanho_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{206,400},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ongbut_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{509,400},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quanhuyen_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{408,400},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>righticon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,44}</string>
                <key>spriteSourceSize</key>
                <string>{137,44}</string>
                <key>textureRect</key>
                <string>{{189,198},{137,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>room_name_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,42}</string>
                <key>spriteSourceSize</key>
                <string>{135,42}</string>
                <key>textureRect</key>
                <string>{{50,198},{135,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>room_name_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,42}</string>
                <key>spriteSourceSize</key>
                <string>{135,42}</string>
                <key>textureRect</key>
                <string>{{778,152},{135,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_ga_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,112}</string>
                <key>spriteSourceSize</key>
                <string>{375,112}</string>
                <key>textureRect</key>
                <string>{{390,508},{375,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_cho_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,22}</string>
                <key>spriteSourceSize</key>
                <string>{180,22}</string>
                <key>textureRect</key>
                <string>{{160,4},{180,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_cho_hover_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{25,4},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,118}</string>
                <key>spriteSourceSize</key>
                <string>{142,118}</string>
                <key>textureRect</key>
                <string>{{4,628},{142,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_no_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,72}</string>
                <key>spriteSourceSize</key>
                <string>{110,72}</string>
                <key>textureRect</key>
                <string>{{558,198},{110,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_no_user_dautaydoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,72}</string>
                <key>spriteSourceSize</key>
                <string>{110,72}</string>
                <key>textureRect</key>
                <string>{{330,198},{110,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_no_user_nhatranh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,72}</string>
                <key>spriteSourceSize</key>
                <string>{110,72}</string>
                <key>textureRect</key>
                <string>{{444,198},{110,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tadien_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{105,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thieugia_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{206,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thieunuquanho_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{4,299},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thino_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{773,198},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thonnu_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{672,198},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{58,4},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_btn_close_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{81,4},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_icon_roiban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{79,37}</string>
                <key>textureRect</key>
                <string>{{721,70},{79,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_icon_roiban_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{79,37}</string>
                <key>textureRect</key>
                <string>{{4,111},{79,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_icon_roiban_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{79,37}</string>
                <key>textureRect</key>
                <string>{{804,70},{79,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_toast_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{4,198},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_window_body_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,506}</string>
                <key>spriteSourceSize</key>
                <string>{654,506}</string>
                <key>textureRect</key>
                <string>{{4,1067},{654,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_window_body_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,435}</string>
                <key>spriteSourceSize</key>
                <string>{624,435}</string>
                <key>textureRect</key>
                <string>{{150,628},{624,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vv_window_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,37}</string>
                <key>spriteSourceSize</key>
                <string>{654,37}</string>
                <key>textureRect</key>
                <string>{{87,111},{654,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vv_sprite_sheet.png</string>
            <key>size</key>
            <string>{937,1577}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46c560473b8f2578bb37e803e101a01a:d83d1bc338fdce51c4f0b3b2f246f738:41f900c665f050bf0d7e71ddc0083a9e$</string>
            <key>textureFileName</key>
            <string>vv_sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
