<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,12}</string>
                <key>spriteSourceSize</key>
                <string>{114,12}</string>
                <key>textureRect</key>
                <string>{{69,2},{114,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_out_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{2,105},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{194,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_avatar_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{282,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_avatar_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{106,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_baoboi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{370,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_baoboi_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{722,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_baoboi_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{2,245},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_vatpham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{546,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_vatpham_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{458,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taisan_vatpham_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{634,105},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_user_info_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{56,28},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_user_info_edit_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{2,28},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_user_info_save.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{29,28},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_user_info_save_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{83,28},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bv_daigia_content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,418}</string>
                <key>spriteSourceSize</key>
                <string>{605,418}</string>
                <key>textureRect</key>
                <string>{{2,641},{605,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gachngang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,1}</string>
                <key>spriteSourceSize</key>
                <string>{65,1}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hc_bachchien_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,47}</string>
                <key>textureRect</key>
                <string>{{470,28},{132,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hc_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{738,28},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hc_thapthanh_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,47}</string>
                <key>textureRect</key>
                <string>{{336,28},{132,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hc_uchibachthu_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,47}</string>
                <key>textureRect</key>
                <string>{{604,28},{132,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_laban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{110,28},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quaybai_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,24}</string>
                <key>spriteSourceSize</key>
                <string>{319,24}</string>
                <key>textureRect</key>
                <string>{{432,2},{319,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_congtrang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,23}</string>
                <key>spriteSourceSize</key>
                <string>{106,23}</string>
                <key>textureRect</key>
                <string>{{324,2},{106,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_thongtincanhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,24}</string>
                <key>spriteSourceSize</key>
                <string>{140,24}</string>
                <key>textureRect</key>
                <string>{{753,2},{140,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thang_thua_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,22}</string>
                <key>spriteSourceSize</key>
                <string>{137,22}</string>
                <key>textureRect</key>
                <string>{{185,2},{137,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trangcanhan_avatar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,386}</string>
                <key>spriteSourceSize</key>
                <string>{175,386}</string>
                <key>textureRect</key>
                <string>{{267,245},{175,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trangcanhan_avatar_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,264}</string>
                <key>spriteSourceSize</key>
                <string>{175,264}</string>
                <key>textureRect</key>
                <string>{{90,245},{175,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trangcanhan_content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,394}</string>
                <key>spriteSourceSize</key>
                <string>{418,394}</string>
                <key>textureRect</key>
                <string>{{444,245},{418,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trangthaitaisan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,42}</string>
                <key>textureRect</key>
                <string>{{178,28},{156,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user_verify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{144,28},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vv_trang_ca_nhan.png</string>
            <key>size</key>
            <string>{895,1061}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6390b155e7d0f8e06fcbea65a8f8958b:8159c6ecffcb1374f2fbece41e7ad6b3:eb23da5a0042a30991a075dc3916d8b6$</string>
            <key>textureFileName</key>
            <string>vv_trang_ca_nhan.png</string>
        </dict>
    </dict>
</plist>
