<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{690,2},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_previous.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{673,2},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,121}</string>
                <key>spriteSourceSize</key>
                <string>{591,121}</string>
                <key>textureRect</key>
                <string>{{262,96},{591,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{573,30},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_vip_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{779,30},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>currentVipBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,140}</string>
                <key>spriteSourceSize</key>
                <string>{596,140}</string>
                <key>textureRect</key>
                <string>{{263,594},{596,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,595}</string>
                <key>spriteSourceSize</key>
                <string>{750,595}</string>
                <key>textureRect</key>
                <string>{{2,988},{750,595}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_explain_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{654,2},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_explain_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{635,2},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_vertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,17}</string>
                <key>spriteSourceSize</key>
                <string>{2,17}</string>
                <key>textureRect</key>
                <string>{{599,2},{2,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>listvip_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,8}</string>
                <key>spriteSourceSize</key>
                <string>{595,8}</string>
                <key>textureRect</key>
                <string>{{2,2},{595,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>listvip_viphientai_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,250}</string>
                <key>spriteSourceSize</key>
                <string>{154,250}</string>
                <key>textureRect</key>
                <string>{{456,736},{154,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>listvip_viphientai_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,103}</string>
                <key>spriteSourceSize</key>
                <string>{154,103}</string>
                <key>textureRect</key>
                <string>{{106,96},{154,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextVipBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,121}</string>
                <key>spriteSourceSize</key>
                <string>{595,121}</string>
                <key>textureRect</key>
                <string>{{2,219},{595,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noteBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,136}</string>
                <key>spriteSourceSize</key>
                <string>{259,136}</string>
                <key>textureRect</key>
                <string>{{2,594},{259,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numberbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,28}</string>
                <key>spriteSourceSize</key>
                <string>{158,28}</string>
                <key>textureRect</key>
                <string>{{413,30},{158,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toast_explain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,51}</string>
                <key>spriteSourceSize</key>
                <string>{152,51}</string>
                <key>textureRect</key>
                <string>{{625,30},{152,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,169}</string>
                <key>spriteSourceSize</key>
                <string>{452,169}</string>
                <key>textureRect</key>
                <string>{{2,736},{452,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{94,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{278,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{2,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{738,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{830,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{646,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{738,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{646,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{462,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{370,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{186,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_btn_deselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,26}</string>
                <key>spriteSourceSize</key>
                <string>{135,26}</string>
                <key>textureRect</key>
                <string>{{276,30},{135,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_btn_deselected_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,26}</string>
                <key>spriteSourceSize</key>
                <string>{135,26}</string>
                <key>textureRect</key>
                <string>{{2,30},{135,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_btn_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,26}</string>
                <key>spriteSourceSize</key>
                <string>{135,26}</string>
                <key>textureRect</key>
                <string>{{139,30},{135,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_btn_selected_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,26}</string>
                <key>spriteSourceSize</key>
                <string>{135,26}</string>
                <key>textureRect</key>
                <string>{{707,2},{135,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_help_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{619,2},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_help_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{603,2},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_image_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{2,96},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{186,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{783,219},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{370,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{554,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{278,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{94,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{2,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{462,344},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{599,219},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{691,219},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipvip9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,123}</string>
                <key>spriteSourceSize</key>
                <string>{90,123}</string>
                <key>textureRect</key>
                <string>{{554,469},{90,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vv_vip.png</string>
            <key>size</key>
            <string>{922,1585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8293c0c1efffd3afdba8f34ea27a5f0:18deb39b9552a729421215d5f05755da:d382de33c6589effae2daf51162a6ec9$</string>
            <key>textureFileName</key>
            <string>vv_vip.png</string>
        </dict>
    </dict>
</plist>
