<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3caisanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,274},{300,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,103}}</string>
                <key>sourceSize</key>
                <string>{300,103}</string>
            </dict>
            <key>3caithung.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,274},{300,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,103}}</string>
                <key>sourceSize</key>
                <string>{300,103}</string>
            </dict>
            <key>arrow_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,459},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>arrow_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,459},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>bg_sochi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,379},{145,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,47}}</string>
                <key>sourceSize</key>
                <string>{145,47}</string>
            </dict>
            <key>bg_tenchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,270}}</string>
                <key>sourceSize</key>
                <string>{507,270}</string>
            </dict>
            <key>bg_thongbaogiuaban.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,459},{189,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,35}}</string>
                <key>sourceSize</key>
                <string>{189,35}</string>
            </dict>
            <key>culuchi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,274},{320,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,78}}</string>
                <key>sourceSize</key>
                <string>{320,78}</string>
            </dict>
            <key>light_maubinh_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{302,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,219}}</string>
                <key>sourceSize</key>
                <string>{302,219}</string>
            </dict>
            <key>light_maubinh_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{249,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,178}}</string>
                <key>sourceSize</key>
                <string>{249,178}</string>
            </dict>
            <key>light_sochi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{302,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,103}}</string>
                <key>sourceSize</key>
                <string>{302,103}</string>
            </dict>
            <key>lucphebon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{300,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,103}}</string>
                <key>sourceSize</key>
                <string>{300,103}</string>
            </dict>
            <key>samcochicuoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,379},{230,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,57}}</string>
                <key>sourceSize</key>
                <string>{230,57}</string>
            </dict>
            <key>sanhrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,274},{300,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,103}}</string>
                <key>sourceSize</key>
                <string>{300,103}</string>
            </dict>
            <key>text_binhlung.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{301,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,143}}</string>
                <key>sourceSize</key>
                <string>{301,143}</string>
            </dict>
            <key>text_culu.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,459},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>text_doi.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,459},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>text_mauthau.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,459},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>text_samco.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,459},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>text_sanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,459},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>text_sap3chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,2},{189,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,115}}</string>
                <key>sourceSize</key>
                <string>{189,115}</string>
            </dict>
            <key>text_thu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,379},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>text_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>thungphasanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{320,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,78}}</string>
                <key>sourceSize</key>
                <string>{320,78}</string>
            </dict>
            <key>thungphasanhchi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,274},{320,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,78}}</string>
                <key>sourceSize</key>
                <string>{320,78}</string>
            </dict>
            <key>tuquy.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,379},{320,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,78}}</string>
                <key>sourceSize</key>
                <string>{320,78}</string>
            </dict>
            <key>tuquychi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,379},{320,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,78}}</string>
                <key>sourceSize</key>
                <string>{320,78}</string>
            </dict>
            <key>tuquychi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,379},{320,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,78}}</string>
                <key>sourceSize</key>
                <string>{320,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mau_binh_resource_png.png</string>
            <key>size</key>
            <string>{1862,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9162253dbdae1a9656949e0ba7fd46c7:01627831c2f03b7637a8fc6b919fe6c2:692de4203ee9637df70b12081c5807e8$</string>
            <key>textureFileName</key>
            <string>mau_binh_resource_png.png</string>
        </dict>
    </dict>
</plist>
