<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_dong_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,40}</string>
                <key>spriteSourceSize</key>
                <string>{123,40}</string>
                <key>textureRect</key>
                <string>{{540,2},{123,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dong_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,40}</string>
                <key>spriteSourceSize</key>
                <string>{123,40}</string>
                <key>textureRect</key>
                <string>{{415,2},{123,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dong_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,40}</string>
                <key>spriteSourceSize</key>
                <string>{123,40}</string>
                <key>textureRect</key>
                <string>{{290,2},{123,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{39,2},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,533}</string>
                <key>spriteSourceSize</key>
                <string>{784,533}</string>
                <key>textureRect</key>
                <string>{{2,78},{784,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,74}</string>
                <key>spriteSourceSize</key>
                <string>{105,74}</string>
                <key>textureRect</key>
                <string>{{76,2},{105,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,74}</string>
                <key>spriteSourceSize</key>
                <string>{105,74}</string>
                <key>textureRect</key>
                <string>{{183,2},{105,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hot_news.png</string>
            <key>size</key>
            <string>{788,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d9512ba5b2f3066ac08c4930b40b850:2d1f15385f1a10e34208a656be16baa8:76e3213f6e4749692417cc120bfbf127$</string>
            <key>textureFileName</key>
            <string>hot_news.png</string>
        </dict>
    </dict>
</plist>
