<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,119}</string>
                <key>spriteSourceSize</key>
                <string>{103,119}</string>
                <key>textureRect</key>
                <string>{{398,157},{103,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckyBoxbg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,312}</string>
                <key>spriteSourceSize</key>
                <string>{696,312}</string>
                <key>textureRect</key>
                <string>{{76,278},{696,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OpenBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,119}</string>
                <key>spriteSourceSize</key>
                <string>{103,119}</string>
                <key>textureRect</key>
                <string>{{774,278},{103,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_task_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,83}</string>
                <key>spriteSourceSize</key>
                <string>{489,83}</string>
                <key>textureRect</key>
                <string>{{2,2},{489,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tien-thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{493,2},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPopupQuaTang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,76}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{2,157},{196,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPopupQuaTang_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,76}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{200,157},{196,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_buoc1_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,63}</string>
                <key>spriteSourceSize</key>
                <string>{406,63}</string>
                <key>textureRect</key>
                <string>{{2,92},{406,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_buoc2_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,63}</string>
                <key>spriteSourceSize</key>
                <string>{406,63}</string>
                <key>textureRect</key>
                <string>{{410,92},{406,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{503,157},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{553,157},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_daily_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{603,157},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dangkysdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{653,157},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_desktop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{728,157},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hopQua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{803,157},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_moiBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{2,278},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_dangkysdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,556}</string>
                <key>spriteSourceSize</key>
                <string>{860,556}</string>
                <key>textureRect</key>
                <string>{{2,592},{860,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_quaTang.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,379}</string>
                <key>spriteSourceSize</key>
                <string>{841,379}</string>
                <key>textureRect</key>
                <string>{{2,1150},{841,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tien_thuong.png</string>
            <key>size</key>
            <string>{879,1531}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b9c4cba697ba210657c6f823b9801c1:c56715cbc25f071b605108871cac8f24:b8764df56c13e111e42e71c448c356a0$</string>
            <key>textureFileName</key>
            <string>tien_thuong.png</string>
        </dict>
    </dict>
</plist>
