<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_co_subapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,625}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,625}}</string>
                <key>sourceSize</key>
                <string>{960,625}</string>
            </dict>
            <key>btn_co_cham.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{285,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,147}}</string>
                <key>sourceSize</key>
                <string>{285,147}</string>
            </dict>
            <key>btn_co_cham_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,629},{285,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,147}}</string>
                <key>sourceSize</key>
                <string>{285,147}</string>
            </dict>
            <key>btn_co_nhanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,629},{285,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,147}}</string>
                <key>sourceSize</key>
                <string>{285,147}</string>
            </dict>
            <key>btn_co_nhanh_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{285,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,147}}</string>
                <key>sourceSize</key>
                <string>{285,147}</string>
            </dict>
            <key>fbapp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,778},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>fbapp_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,778},{162,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,70}}</string>
                <key>sourceSize</key>
                <string>{162,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fbapp_co_ss.png</string>
            <key>size</key>
            <string>{964,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59c3734c8d4bf2bd118457d2bc58201f:31a9537185a2fd2c55fc0c03deb73dae:d78a2867dc835bc6c60068a4636d4a47$</string>
            <key>textureFileName</key>
            <string>fbapp_co_ss.png</string>
        </dict>
    </dict>
</plist>
