<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{176,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{176,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>frame_listgames.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{175,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,441}}</string>
                <key>sourceSize</key>
                <string>{175,441}</string>
            </dict>
            <key>promo_app_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>promo_app_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,106},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>promo_app_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>promo_app_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>promo_app_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{116,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
            <key>promo_app_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>promo_app_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>promo_app_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{133,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,50}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>promo_app_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{111,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,50}}</string>
                <key>sourceSize</key>
                <string>{111,50}</string>
            </dict>
            <key>promo_app_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,54},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>promo_app_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{157,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,50}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
            <key>promo_app_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>promo_app_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,158},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fbapp_common_ss.png</string>
            <key>size</key>
            <string>{188,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09417b3536641ddc27311b7552fc8206:abc5cba880d0d5ea72ab5ccb3f9f38b7:0e60f335b148ed170f872326ef78a987$</string>
            <key>textureFileName</key>
            <string>fbapp_common_ss.png</string>
        </dict>
    </dict>
</plist>
