<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_khongXepHang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,25}</string>
                <key>spriteSourceSize</key>
                <string>{195,25}</string>
                <key>textureRect</key>
                <string>{{637,2},{195,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_no.1_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,24}</string>
                <key>spriteSourceSize</key>
                <string>{200,24}</string>
                <key>textureRect</key>
                <string>{{238,2},{200,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_profile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,188}</string>
                <key>spriteSourceSize</key>
                <string>{321,188}</string>
                <key>textureRect</key>
                <string>{{648,228},{321,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_thanhTich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,83}</string>
                <key>spriteSourceSize</key>
                <string>{644,83}</string>
                <key>textureRect</key>
                <string>{{2,228},{644,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xepHang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,25}</string>
                <key>spriteSourceSize</key>
                <string>{195,25}</string>
                <key>textureRect</key>
                <string>{{440,2},{195,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{892,2},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_edit_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{921,2},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_save.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{863,2},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_save_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{834,2},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cao_thu_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,24}</string>
                <key>spriteSourceSize</key>
                <string>{200,24}</string>
                <key>textureRect</key>
                <string>{{36,2},{200,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothugame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,72}</string>
                <key>spriteSourceSize</key>
                <string>{387,72}</string>
                <key>textureRect</key>
                <string>{{206,154},{387,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topDaiGia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{67,154},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topNhietTinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{2,154},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_leaderboard_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{939,592}</string>
                <key>spriteSourceSize</key>
                <string>{939,592}</string>
                <key>textureRect</key>
                <string>{{2,418},{939,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_top_by_game_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{939,592}</string>
                <key>spriteSourceSize</key>
                <string>{939,592}</string>
                <key>textureRect</key>
                <string>{{2,1012},{939,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{2,2},{32,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_top_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,37}</string>
                <key>spriteSourceSize</key>
                <string>{125,37}</string>
                <key>textureRect</key>
                <string>{{294,30},{125,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_top_no_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,37}</string>
                <key>spriteSourceSize</key>
                <string>{125,37}</string>
                <key>textureRect</key>
                <string>{{40,30},{125,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_top_no_active_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,37}</string>
                <key>spriteSourceSize</key>
                <string>{125,37}</string>
                <key>textureRect</key>
                <string>{{167,30},{125,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_10_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{2,30},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_1st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{513,30},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_1st_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{132,154},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_2rd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{421,30},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_3rd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{467,30},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{908,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{852,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{338,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{226,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{282,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{795,30},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{683,30},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{571,30},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{851,30},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{2,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{114,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{170,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{58,92},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{907,30},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{627,30},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_game_icon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{739,30},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_row_list_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,60}</string>
                <key>spriteSourceSize</key>
                <string>{456,60}</string>
                <key>textureRect</key>
                <string>{{394,92},{456,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leader_board_ss.png</string>
            <key>size</key>
            <string>{971,1606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a5f40fb956e62f22dbd0c8e9aa377b:014d495b4168076d4fb1f45c02593e15:f35f5ab8195b59055d69e221ec2e362e$</string>
            <key>textureFileName</key>
            <string>leader_board_ss.png</string>
        </dict>
    </dict>
</plist>
