<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowPosPayment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,18}</string>
                <key>spriteSourceSize</key>
                <string>{35,18}</string>
                <key>textureRect</key>
                <string>{{147,2},{35,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_payment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{118,68},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_2columns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,231}</string>
                <key>spriteSourceSize</key>
                <string>{382,231}</string>
                <key>textureRect</key>
                <string>{{114,149},{382,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_3columns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,231}</string>
                <key>spriteSourceSize</key>
                <string>{382,231}</string>
                <key>textureRect</key>
                <string>{{498,149},{382,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_muiten_sms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{184,2},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbletalk_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{449,2},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbletalk_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{501,2},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editTextPayment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,30}</string>
                <key>spriteSourceSize</key>
                <string>{243,30}</string>
                <key>textureRect</key>
                <string>{{204,2},{243,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grey_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,1}</string>
                <key>spriteSourceSize</key>
                <string>{70,1}</string>
                <key>textureRect</key>
                <string>{{2,2},{70,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_mobile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,86}</string>
                <key>spriteSourceSize</key>
                <string>{110,86}</string>
                <key>textureRect</key>
                <string>{{2,149},{110,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_muitenxanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,15}</string>
                <key>spriteSourceSize</key>
                <string>{71,15}</string>
                <key>textureRect</key>
                <string>{{74,2},{71,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,79}</string>
                <key>spriteSourceSize</key>
                <string>{711,79}</string>
                <key>textureRect</key>
                <string>{{186,68},{711,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{2,68},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{553,2},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vina_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,64}</string>
                <key>spriteSourceSize</key>
                <string>{114,64}</string>
                <key>textureRect</key>
                <string>{{669,2},{114,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nap_tien.png</string>
            <key>size</key>
            <string>{899,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:225df5cd10a2826a765f26467e5250d4:3665af95ba84ed04701762aee50f62f0:192e2558630e50d8fc0fe5bc9145778d$</string>
            <key>textureFileName</key>
            <string>nap_tien.png</string>
        </dict>
    </dict>
</plist>
