<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{301,149},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarFrameHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{213,149},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ba_cay_bet_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,92}</string>
                <key>spriteSourceSize</key>
                <string>{264,92}</string>
                <key>textureRect</key>
                <string>{{2,597},{264,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_bet_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,133}</string>
                <key>spriteSourceSize</key>
                <string>{262,133}</string>
                <key>textureRect</key>
                <string>{{2,691},{262,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,134}</string>
                <key>spriteSourceSize</key>
                <string>{262,134}</string>
                <key>textureRect</key>
                <string>{{2,826},{262,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_money_bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,19}</string>
                <key>spriteSourceSize</key>
                <string>{68,19}</string>
                <key>textureRect</key>
                <string>{{118,2},{68,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_money_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,25}</string>
                <key>spriteSourceSize</key>
                <string>{104,25}</string>
                <key>textureRect</key>
                <string>{{358,74},{104,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lbl_bet_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,35}</string>
                <key>spriteSourceSize</key>
                <string>{166,35}</string>
                <key>textureRect</key>
                <string>{{174,330},{166,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_suite_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,57}</string>
                <key>spriteSourceSize</key>
                <string>{208,57}</string>
                <key>textureRect</key>
                <string>{{238,494},{208,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_suite_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,27}</string>
                <key>spriteSourceSize</key>
                <string>{107,27}</string>
                <key>textureRect</key>
                <string>{{290,111},{107,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_suite_name_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,27}</string>
                <key>spriteSourceSize</key>
                <string>{107,27}</string>
                <key>textureRect</key>
                <string>{{2,149},{107,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_userInfo_inGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,224}</string>
                <key>spriteSourceSize</key>
                <string>{380,224}</string>
                <key>textureRect</key>
                <string>{{2,1158},{380,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ToTat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{264,38},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ToTat_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{182,38},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ToTat_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{346,38},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xetHet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{2,111},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xetHet_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{194,111},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xetHet_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{98,111},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{188,2},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xet_01_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{308,2},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{368,2},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xet_02_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{428,2},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_invisible.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{2,330},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{83,2},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingameLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,330}</string>
                <key>spriteSourceSize</key>
                <string>{130,330}</string>
                <key>textureRect</key>
                <string>{{266,826},{130,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_outer_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,118}</string>
                <key>spriteSourceSize</key>
                <string>{86,118}</string>
                <key>textureRect</key>
                <string>{{342,330},{86,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{88,330},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_CuLu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,42}</string>
                <key>spriteSourceSize</key>
                <string>{153,42}</string>
                <key>textureRect</key>
                <string>{{308,242},{153,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_Doi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,42}</string>
                <key>spriteSourceSize</key>
                <string>{153,42}</string>
                <key>textureRect</key>
                <string>{{2,286},{153,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_MauThau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,42}</string>
                <key>spriteSourceSize</key>
                <string>{196,42}</string>
                <key>textureRect</key>
                <string>{{200,450},{196,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_Sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,42}</string>
                <key>spriteSourceSize</key>
                <string>{153,42}</string>
                <key>textureRect</key>
                <string>{{153,242},{153,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_Thu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,42}</string>
                <key>spriteSourceSize</key>
                <string>{153,42}</string>
                <key>textureRect</key>
                <string>{{157,286},{153,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_Thung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,42}</string>
                <key>spriteSourceSize</key>
                <string>{153,42}</string>
                <key>textureRect</key>
                <string>{{312,286},{153,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_ThungPhaSanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,42}</string>
                <key>spriteSourceSize</key>
                <string>{295,42}</string>
                <key>textureRect</key>
                <string>{{2,553},{295,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_TuQuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,42}</string>
                <key>spriteSourceSize</key>
                <string>{149,42}</string>
                <key>textureRect</key>
                <string>{{2,242},{149,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameGame_XamCo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,42}</string>
                <key>spriteSourceSize</key>
                <string>{196,42}</string>
                <key>textureRect</key>
                <string>{{2,450},{196,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_normal_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,29}</string>
                <key>spriteSourceSize</key>
                <string>{87,29}</string>
                <key>textureRect</key>
                <string>{{2,74},{87,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_bet_all_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,35}</string>
                <key>spriteSourceSize</key>
                <string>{100,35}</string>
                <key>textureRect</key>
                <string>{{111,149},{100,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_bet_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{87,35}</string>
                <key>textureRect</key>
                <string>{{91,74},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_bet_fold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{87,35}</string>
                <key>textureRect</key>
                <string>{{269,74},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_bet_raise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{87,35}</string>
                <key>textureRect</key>
                <string>{{180,74},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{2,38},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send_01_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{248,2},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{122,38},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send_02_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{62,38},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,13}</string>
                <key>textureRect</key>
                <string>{{37,2},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{9,2},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_ball_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{23,2},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{2,2},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,10}</string>
                <key>spriteSourceSize</key>
                <string>{25,10}</string>
                <key>textureRect</key>
                <string>{{56,2},{25,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_track.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,10}</string>
                <key>spriteSourceSize</key>
                <string>{234,10}</string>
                <key>textureRect</key>
                <string>{{2,494},{234,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_watch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{389,149},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame.png</string>
            <key>size</key>
            <string>{488,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e369925a83cd1131333cbe226a5d7978:d19067f37250028fd6980afb3e60c361:de3c7a7fc0cae1649732adc36eb84a12$</string>
            <key>textureFileName</key>
            <string>ingame.png</string>
        </dict>
    </dict>
</plist>
