<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chontk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,352}</string>
                <key>spriteSourceSize</key>
                <string>{423,352}</string>
                <key>textureRect</key>
                <string>{{2,331},{423,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,37}</string>
                <key>spriteSourceSize</key>
                <string>{124,37}</string>
                <key>textureRect</key>
                <string>{{2,39},{124,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,35}</string>
                <key>spriteSourceSize</key>
                <string>{124,35}</string>
                <key>textureRect</key>
                <string>{{807,2},{124,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_login_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,46}</string>
                <key>spriteSourceSize</key>
                <string>{191,46}</string>
                <key>textureRect</key>
                <string>{{654,85},{191,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_login_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,46}</string>
                <key>spriteSourceSize</key>
                <string>{191,46}</string>
                <key>textureRect</key>
                <string>{{268,85},{191,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_login_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,46}</string>
                <key>spriteSourceSize</key>
                <string>{191,46}</string>
                <key>textureRect</key>
                <string>{{461,85},{191,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_loginfacebook_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,44}</string>
                <key>spriteSourceSize</key>
                <string>{264,44}</string>
                <key>textureRect</key>
                <string>{{483,39},{264,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_loginfacebook_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,44}</string>
                <key>spriteSourceSize</key>
                <string>{264,44}</string>
                <key>textureRect</key>
                <string>{{749,39},{264,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_loginfacebook_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,44}</string>
                <key>spriteSourceSize</key>
                <string>{264,44}</string>
                <key>textureRect</key>
                <string>{{2,85},{264,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{722,2},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_line_footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{958,196}</string>
                <key>spriteSourceSize</key>
                <string>{958,196}</string>
                <key>textureRect</key>
                <string>{{2,133},{958,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_hoac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,11}</string>
                <key>spriteSourceSize</key>
                <string>{452,11}</string>
                <key>textureRect</key>
                <string>{{268,2},{452,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_tittle_footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,3}</string>
                <key>spriteSourceSize</key>
                <string>{264,3}</string>
                <key>textureRect</key>
                <string>{{2,2},{264,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_checkbox_checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{776,2},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_checkbox_unchecked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{745,2},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_khoiphucmk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,363}</string>
                <key>spriteSourceSize</key>
                <string>{591,363}</string>
                <key>textureRect</key>
                <string>{{427,331},{591,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,505}</string>
                <key>spriteSourceSize</key>
                <string>{591,505}</string>
                <key>textureRect</key>
                <string>{{2,696},{591,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,39}</string>
                <key>spriteSourceSize</key>
                <string>{353,39}</string>
                <key>textureRect</key>
                <string>{{128,39},{353,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login_register_ss.png</string>
            <key>size</key>
            <string>{1020,1203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c85d4bf6403edb3856a95c75164dbe:00561ed64d40e3756fd10d0a62b377a0:b7213271582c23bad611c5364a0c6886$</string>
            <key>textureFileName</key>
            <string>login_register_ss.png</string>
        </dict>
    </dict>
</plist>
