<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>expression10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>expression10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>expression10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>expression10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>expression10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>expression10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>expression10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression10_img.png</string>
            <key>size</key>
            <string>{882,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a17aee371a0c93f3f235b669dd3928f:6d2866fbe804aa2880125805deee3c1d:3b2a8fbf2eb88d7bb2573f4d94164452$</string>
            <key>textureFileName</key>
            <string>expression10_img.png</string>
        </dict>
    </dict>
</plist>
