<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>expression18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>expression18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>expression18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>expression18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>expression18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>expression18_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>expression18_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression18_img.png</string>
            <key>size</key>
            <string>{248,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9acd528ad65fdf6a37b0affd1a857cf:fa14863f87ff482fad49446d5aaf9d6c:60a8cd8eb3daabef292aa3441f34a478$</string>
            <key>textureFileName</key>
            <string>expression18_img.png</string>
        </dict>
    </dict>
</plist>
