<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>expression25_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression25_img.png</string>
            <key>size</key>
            <string>{462,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34490d00a4ac6bc685248fd40eae1fc5:45df5869fb7242aedd37eddf5f28017f:ec204755aeff7888556616a5fa41d1da$</string>
            <key>textureFileName</key>
            <string>expression25_img.png</string>
        </dict>
    </dict>
</plist>
