<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>expression6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression6_img.png</string>
            <key>size</key>
            <string>{667,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86f38929a6498127943f16b1d8574494:c7c88bd1ad73f03695984a191e9db520:e159c68f3c99d3e817ee10c89887144c$</string>
            <key>textureFileName</key>
            <string>expression6_img.png</string>
        </dict>
    </dict>
</plist>
