<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>expression2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>expression2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>expression2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>expression2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>expression2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>expression2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>expression2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression2_img.png</string>
            <key>size</key>
            <string>{370,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c687bfd406c44ce44682b37d1c2ca1:cdbbc581141b0e99782bdeaaa613ce86:af1a1d859919feba8149ead360684213$</string>
            <key>textureFileName</key>
            <string>expression2_img.png</string>
        </dict>
    </dict>
</plist>
