<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>expression24_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{106,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,115}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression24_img.png</string>
            <key>size</key>
            <string>{1082,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3794460e323474465feb0e6912c23f4:a819526cf409dbc07ced62ce8babc666:5c4c3d83425c3cdc4b73f8e48f3d18c4$</string>
            <key>textureFileName</key>
            <string>expression24_img.png</string>
        </dict>
    </dict>
</plist>
