<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>expression9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression9_img.png</string>
            <key>size</key>
            <string>{962,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309283868e3e195cba79b0c996a14d9d:1374ac4ce9a8949f1c46996453749bfd:aebc3470542f6ee5e05dd6ff13f0d617$</string>
            <key>textureFileName</key>
            <string>expression9_img.png</string>
        </dict>
    </dict>
</plist>
