<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>expression5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>expression5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>expression5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression5_img.png</string>
            <key>size</key>
            <string>{174,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10df6e748c0e7ff7d1550bb84aa4f3e7:3edb97bd59cffd3df61b5d69819810de:71dd8d50b726dc0409376fd5b118dc3f$</string>
            <key>textureFileName</key>
            <string>expression5_img.png</string>
        </dict>
    </dict>
</plist>
