<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>expression12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression12_img.png</string>
            <key>size</key>
            <string>{119,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32999f11efc67a12d5a9832eef039531:6c7b7b78cbb7edcd2443d57bfbd8a723:dbea6afcfa7ec8c28afa398600d8c4d6$</string>
            <key>textureFileName</key>
            <string>expression12_img.png</string>
        </dict>
    </dict>
</plist>
