<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression26_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>expression26_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>expression26_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>expression26_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>expression26_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>expression26_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>expression26_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>expression26_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression26_img.png</string>
            <key>size</key>
            <string>{938,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:765cbe01f98c13e8ca48f64bf0fa8684:a0ac0b016baa083f6716bb49d308e83d:5e67d01fc769419f4959903440d5dc4d$</string>
            <key>textureFileName</key>
            <string>expression26_img.png</string>
        </dict>
    </dict>
</plist>
