<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>expression14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression14_img.png</string>
            <key>size</key>
            <string>{730,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba4fe13344a06c1e72bd698c382853c9:3a86c83525d908b092198ec2058190b9:255c1ef914df638661f2f31ee6296746$</string>
            <key>textureFileName</key>
            <string>expression14_img.png</string>
        </dict>
    </dict>
</plist>
