<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>expression22_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression22_img.png</string>
            <key>size</key>
            <string>{418,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee9a1f7958c0fdd81b21fd9374fae3c4:59c7a11766f20082c006821642ab59cb:0735c63fe4a7f0779f2217730e921c38$</string>
            <key>textureFileName</key>
            <string>expression22_img.png</string>
        </dict>
    </dict>
</plist>
