<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>expression20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>expression20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>expression20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>expression20_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>expression20_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>expression20_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>expression20_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression20_img.png</string>
            <key>size</key>
            <string>{210,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99b6928e391899d9e853c9a815dfac91:8ca1b69417e0246b1b4896a7315fe4de:2cbbc1fd8a7bfd1401fbcb8d3169efd9$</string>
            <key>textureFileName</key>
            <string>expression20_img.png</string>
        </dict>
    </dict>
</plist>
