<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_3Cay_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_3Cay_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Chan_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Chan_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_CoTuong_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_CoTuong_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_CoUp_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_CoUp_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Lieng_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Lieng_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_MauBinh_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_MauBinh_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_MauBinh_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Phom_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Phom_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Poker_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Poker_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Sam_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Sam_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_TLMNDL_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_TLMNDL_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_TLMN_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,165},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_TLMN_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Xeng_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Xeng_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Xeng_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Xizach_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Xizach_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_Xizach_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_xiTo_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>icon_xiTo_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,328},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_all_gameIMG.png</string>
            <key>size</key>
            <string>{1828,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4f1c086a8b875d4e502fa1dc31d31df:28cbe106a70636c156dead46072f52bc:171fb88ab6f02e822310aa13b6522932$</string>
            <key>textureFileName</key>
            <string>icon_all_gameIMG.png</string>
        </dict>
    </dict>
</plist>
