<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chess_addplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Chess_bg_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Chess_btn_batdau_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_batdau_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_batdau_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_cauhoa_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>Chess_btn_cauhoa_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>Chess_btn_cauhoa_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>Chess_btn_cuoctat_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,2},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_cuoctat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_cuoctat_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,2},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_dunglen_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_dunglen_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_dunglen_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_ngoixuong_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_ngoixuong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_ngoixuong_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,136},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_sansang_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_sansang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_sansang_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_tieptuc_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,77},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_tieptuc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,136},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_tieptuc_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,136},{160,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>Chess_btn_xinthua_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>Chess_btn_xinthua_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>Chess_btn_xinthua_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>Chess_chuban.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{37,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>Chess_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Chess_dark_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Chess_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,136},{199,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,160}}</string>
                <key>sourceSize</key>
                <string>{199,160}</string>
            </dict>
            <key>Chess_redstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,298},{574,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,630}}</string>
                <key>sourceSize</key>
                <string>{574,630}</string>
            </dict>
            <key>Chess_toast.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>active_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,136},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>batdau.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,298},{561,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,568}}</string>
                <key>sourceSize</key>
                <string>{561,568}</string>
            </dict>
            <key>box_quanan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,136},{193,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,123}}</string>
                <key>sourceSize</key>
                <string>{193,123}</string>
            </dict>
            <key>chess_chat_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>chess_chat_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>chieutuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,298},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>cochonquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>hoa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{245,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,250}}</string>
                <key>sourceSize</key>
                <string>{245,250}</string>
            </dict>
            <key>nuocdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>nuocvuadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>thongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,136},{203,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,39}}</string>
                <key>sourceSize</key>
                <string>{203,39}</string>
            </dict>
            <key>thongbao_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,136},{203,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,39}}</string>
                <key>sourceSize</key>
                <string>{203,39}</string>
            </dict>
            <key>time_box_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>time_box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>trangthai_chieutuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,136},{122,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,127}}</string>
                <key>sourceSize</key>
                <string>{122,127}</string>
            </dict>
            <key>trangthai_quananduoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chess_common.png</string>
            <key>size</key>
            <string>{1939,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7e9d5b86c2c43fb1d5eb2f1ccb58101:c347cc6e4e9fafb1ffe3a0fdbb8c2db7:cac4c9a4f63c69b93d5d3cff0fd1412e$</string>
            <key>textureFileName</key>
            <string>chess_common.png</string>
        </dict>
    </dict>
</plist>
